# 1. Data Preprocessing

In [462]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [463]:
df = pd.read_csv('Data/british_airways.csv')
pd.set_option('display.max.rows',21)
df.head()

,Airline_Name,Review_Date,Rating,Comment,Reviewer_Name,Reviewer_Country,Aircraft,Travel_Type,Seat_Type,Route,...,Recommended,Verified,Seat_Rating,Cabin_staff_service_Rating,Food_Beverages_Rating,Inflight_Rating,Ground_service_Rating,Wifi_connectivity_Rating,Value_Rating,Full_review
0,British Airways,2024-03-26,8.0,“didn't find the crew particularly welcoming”,Troy Robinson,United Kingdom,Boeing 777,Business,Business Class,London to Tokyo,...,YES,Yes,5.0,2.0,5.0,5.0,3.0,NaN,4,"A last minute business trip to HND, a route I ..."
1,British Airways,2024-03-26,5.0,"""I would say disappointing""",R Norton,United Kingdom,A320,Business,Economy Class,Lisbon to London,...,YES,Yes,4.0,3.0,NaN,NaN,1.0,NaN,3,Overall I would say disappointing. Due to BA s...
2,British Airways,2024-03-25,10.0,"""Exceptional flight""",Paul Lee,United Kingdom,Boeing 777,Couple Leisure,Business Class,London to Delhi,...,YES,No,5.0,5.0,5.0,5.0,5.0,NaN,5,LHR to Delhi in Business. Exceptional flight. ...
3,British Airways,2024-03-25,9.0,"""Cabin crew attentive and bubbly""",Paul Lee,United Kingdom,A320,Couple Leisure,Economy Class,London to Milan,...,YES,No,5.0,5.0,5.0,NaN,4.0,NaN,5,Efficient and Smooth flight from start to fini...
4,British Airways,2024-03-25,3.0,“a terrible and unnecessary experience”,Peter Buchanan,United Kingdom,NaN,Couple Leisure,Economy Class,Madrid to London Heathrow,...,NO,Yes,3.0,3.0,NaN,NaN,3.0,NaN,2,Was told we can not take hand luggage onto the...

### Data Inspection

In [464]:
df.shape

(3776, 21)

In [465]:
df.drop(columns=['Airline_Name'],inplace=True)

In [466]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3776 entries, 0 to 3775
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Review_Date                 3776 non-null   object
 1   Rating                      3769 non-null   float64
 2   Comment                     3776 non-null   object
 3   Reviewer_Name               3776 non-null   object
 4   Reviewer_Country            3776 non-null   object
 5   Aircraft                    1968 non-null   object
 6   Travel_Type                 3005 non-null   object
 7   Seat_Type                   3773 non-null   object
 8   Route                       3001 non-null   object
 9   Date_Flown                  2998 non-null   object
 10  Recommended                 3776 non-null   object
 11  Verified                    3776 non-null   object
 12  Seat_Rating                 3656 non-null   float64
 13  Cabin_staff_service_Rating  3644 non-null   float64
 14  Food_Beverages_Rating       3373 non-null   float64
 15  Inflight_Rating             2601 non-null   float64
 16  Ground_service_Rating       2928 non-null   float64
 17  Wifi_connectivity_Rating    636 non-null    float64
 18  Value_Rating                3776 non-null   int64
 19  Full_review                 3776 non-null   object
dtypes: float64(7), int64(1), object(12)
memory usage: 590.1+ KB

In [467]:
df.dtypes

Review_Date                    object
Rating                        float64
Comment                        object
Reviewer_Name                  object
Reviewer_Country               object
Aircraft                       object
Travel_Type                    object
Seat_Type                      object
Route                          object
Date_Flown                     object
Recommended                    object
Verified                       object
Seat_Rating                   float64
Cabin_staff_service_Rating    float64
Food_Beverages_Rating         float64
Inflight_Rating               float64
Ground_service_Rating         float64
Wifi_connectivity_Rating      float64
Value_Rating                    int64
Full_review                    object
dtype: object

In [468]:
df.describe()

,Rating,Seat_Rating,Cabin_staff_service_Rating,Food_Beverages_Rating,Inflight_Rating,Ground_service_Rating,Wifi_connectivity_Rating,Value_Rating
count,3769.000000,3656.000000,3644.000000,3373.000000,2601.000000,2928.000000,636.000000,3776.000000
mean,4.742372,2.877188,3.257684,2.719834,2.647828,2.779030,1.924528,2.691472
std,3.178302,1.363774,1.490480,1.440213,1.409775,1.458459,1.344793,1.476488
min,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,3.000000
75%,8.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,4.000000
max,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [469]:
df.describe(include='object')

,Review_Date,Comment,Reviewer_Name,Reviewer_Country,Aircraft,Travel_Type,Seat_Type,Route,Date_Flown,Recommended,Verified,Full_review
count,3776,3776,3776,3776,1968,3005,3773,3001,2998,3776,3776,3776
unique,1876,2752,2888,74,205,4,4,1632,116,2,2,3670
top,2015-01-19,British Airways customer review,David Ellis,United Kingdom,A320,Couple Leisure,Economy Class,London to Johannesburg,August 2015,NO,No,LHR to DXB on November 6 an overnight relative...
freq,26,956,45,2364,379,1020,1957,18,83,2243,2569,3

### Typecasting Review_Date to Date

In [470]:
df['Review_Date'] = pd.to_datetime(df['Review_Date'])
df['Date_Flown'] = pd.to_datetime(df['Date_Flown'])

In [471]:
df['Review_Date'].dtype,df['Date_Flown'].dtype

(dtype('<M8[ns]'), dtype('<M8[ns]'))

In [472]:
round((df.isnull().sum() / df.shape[0])*100,2)

Review_Date                    0.00
Rating                         0.19
Comment                        0.00
Reviewer_Name                  0.00
Reviewer_Country               0.00
Aircraft                      47.88
Travel_Type                   20.42
Seat_Type                      0.08
Route                         20.52
Date_Flown                    20.60
Recommended                    0.00
Verified                       0.00
Seat_Rating                    3.18
Cabin_staff_service_Rating     3.50
Food_Beverages_Rating         10.67
Inflight_Rating               31.12
Ground_service_Rating         22.46
Wifi_connectivity_Rating      83.16
Value_Rating                   0.00
Full_review                    0.00
dtype: float64

In [473]:
df.drop(columns=['Wifi_connectivity_Rating'],inplace=True) # 83% Null Values are present

### Handling Null Values

1. If Null Value Percentage <10% then use direct imputation Technique with Median for Num & Mode for Categorical

In [474]:
def impute_num_null_values(col):
    '''
    Replacing NULL values with Median which is robust to outliers
    '''
    df[col].fillna(df[col].median(),inplace=True)

In [475]:
def impute_cat_null_values(col):
    '''
    Replacing NULL values with Mode which is more approproiate for Categorical Values
    '''
    df[col].fillna(df[col].mode()[0],inplace=True)

In [476]:
impute_num_null_values('Rating')

In [477]:
df['Rating'].isnull().sum()

0

In [478]:
round((df.isnull().sum() / df.shape[0])*100,2)

Review_Date                    0.00
Rating                         0.00
Comment                        0.00
Reviewer_Name                  0.00
Reviewer_Country               0.00
Aircraft                      47.88
Travel_Type                   20.42
Seat_Type                      0.08
Route                         20.52
Date_Flown                    20.60
Recommended                    0.00
Verified                       0.00
Seat_Rating                    3.18
Cabin_staff_service_Rating     3.50
Food_Beverages_Rating         10.67
Inflight_Rating               31.12
Ground_service_Rating         22.46
Value_Rating                   0.00
Full_review                    0.00
dtype: float64

In [479]:
df['Date_Flown'].isnull().sum()

778

In [480]:
df.dropna(subset=['Date_Flown'],inplace=True)

In [481]:
df['Date_Flown'].isnull().sum()

0

### Route Handling

In [482]:
df['Route'].isnull().sum()

5

In [483]:
df.dropna(subset=['Route'],inplace=True)

In [484]:
df['Route'].isnull().sum()

0

In [485]:
for index,row in df.iterrows():
    temp = row['Route'].split(' to',1)
    df.at[index, 'From'] = temp[0].strip()
    df.at[index, 'To'] = temp[-1].strip()

In [486]:
df.head()

,Review_Date,Rating,Comment,Reviewer_Name,Reviewer_Country,Aircraft,Travel_Type,Seat_Type,Route,Date_Flown,...,Verified,Seat_Rating,Cabin_staff_service_Rating,Food_Beverages_Rating,Inflight_Rating,Ground_service_Rating,Value_Rating,Full_review,From,To
0,2024-03-26,8.0,“didn't find the crew particularly welcoming”,Troy Robinson,United Kingdom,Boeing 777,Business,Business Class,London to Tokyo,2024-03-01,...,Yes,5.0,2.0,5.0,5.0,3.0,4,"A last minute business trip to HND, a route I ...",London,Tokyo
1,2024-03-26,5.0,"""I would say disappointing""",R Norton,United Kingdom,A320,Business,Economy Class,Lisbon to London,2024-03-01,...,Yes,4.0,3.0,NaN,NaN,1.0,3,Overall I would say disappointing. Due to BA s...,Lisbon,London
2,2024-03-25,10.0,"""Exceptional flight""",Paul Lee,United Kingdom,Boeing 777,Couple Leisure,Business Class,London to Delhi,2024-02-01,...,No,5.0,5.0,5.0,5.0,5.0,5,LHR to Delhi in Business. Exceptional flight. ...,London,Delhi
3,2024-03-25,9.0,"""Cabin crew attentive and bubbly""",Paul Lee,United Kingdom,A320,Couple Leisure,Economy Class,London to Milan,2024-03-01,...,No,5.0,5.0,5.0,NaN,4.0,5,Efficient and Smooth flight from start to fini...,London,Milan
4,2024-03-25,3.0,“a terrible and unnecessary experience”,Peter Buchanan,United Kingdom,NaN,Couple Leisure,Economy Class,Madrid to London Heathrow,2024-03-01,...,Yes,3.0,3.0,NaN,NaN,3.0,2,Was told we can not take hand luggage onto the...,Madrid,London Heathrow

In [487]:
round((df.isnull().sum() / df.shape[0])*100,2)

Review_Date                    0.00
Rating                         0.00
Comment                        0.00
Reviewer_Name                  0.00
Reviewer_Country               0.00
Aircraft                      34.48
Travel_Type                    0.10
Seat_Type                      0.03
Route                          0.00
Date_Flown                     0.00
Recommended                    0.00
Verified                       0.00
Seat_Rating                    3.91
Cabin_staff_service_Rating     4.31
Food_Beverages_Rating         13.33
Inflight_Rating               39.12
Ground_service_Rating          2.31
Value_Rating                   0.00
Full_review                    0.00
From                           0.00
To                             0.00
dtype: float64

In [488]:
df['From'].unique()

array(['London', 'Lisbon', 'Madrid', 'London Heathrow', 'Montreal',
       'Paphos', 'Barbados', 'Toronto', 'Copenhagen', 'Los Angeles',
       'Singapore', 'Cyprus', 'Heathrow', 'Sydney', 'Pisa', 'Malaga',
       'Phoenix', 'Austin, TX', 'Athens', 'London Gatwick', 'Boston',
       'Sao Paulo', 'Dusseldorf (DUS)', 'Cairo', 'Dublin', 'Glasgow',
       'Vancouver', 'Rome', 'Gatwick', 'Istanbul', 'Indianapolis',
       'Gran Canaria', 'Belfast City', 'Cape Town', 'Miami',
       'Johannesburg', 'Palma de Mallorca', 'Zürich', 'Brussels',
       'Bucharest', 'Manchester', 'Seville', 'London Heatrow',
       'Anchorage', 'Seattle', 'Malta', 'San Francisco', 'İstanbul',
       'Geneva', 'Istanbul via London', 'Porto', 'Catania', 'Berlin',
       'Atlanta', 'Chicago', 'Milan', 'Dallas', 'Prague', 'San Diego',
       'Hamburg', 'Kuwait', 'Frankfurt', 'Mumbai', 'Houston',
       'New York JFK', 'Tenerife', 'Newark', 'LHR', 'Delhi', 'Larnaca',
       'Washington', 'Edinburgh', 'Keflavik', 'Gibraltar', 'Rhodes',
       'Barcelona', 'Inverness', 'London City Airport', 'Amsterdam',
       'Dalaman', 'Newcastle', 'Amman', 'Chennai', 'Kingston', 'Dubai',
       'New Orleans', 'London City', 'Marseille', 'Tokyo', 'Santiago',
       'Sydney via Singapore', 'Nice', 'Las Vegas', 'New York', 'Sweden',
       'Bangalore', 'Hong Kong', 'Santorini', 'Faro', 'Belfast',
       'Mexico City', 'Marrakech', 'Munich', 'Zagreb', 'Portland',
       'London Singapore', 'Lyon', 'Oslo', 'Islamabad', 'Palma', 'Vienna',
       'Doha', 'Denver', 'Amman Jordan', 'Dusseldorf', 'Baltimore',
       'Orlando', 'Jersey', 'Gothenburg', 'Tel Aviv', 'Dallas Ft Worth',
       'Accra', 'Nairobi', 'Venice', 'Edmonton', 'Paris CDG', 'Cancun',
       'Dallas Fort-Worth', 'Zurich', 'Bridgetown', 'Dubrovnik',
       'Columbus', 'Basel', 'São Paulo', 'Riyadh', 'Austin', 'Male',
       'Montréal', 'Durban', 'Warsaw', 'Washington DC', 'Stockholm',
       'Abuja', 'Mykonos', 'Washington Dulles', 'Moscow', 'Preveza',
       'Aberdeen', 'Ottawa', 'Antigua', 'Sofia', 'London-Heathrow',
       'Nashville', 'Paris', 'Rio de Janeiro', 'Orlando, Florida',
       'San Jose', 'Rio De Janeiro', 'Budapest', 'Toulouse', 'doha',
       'Tirana', 'Bordeaux', 'Seychelles', 'Jeddah', 'Hyderabad',
       'Kuala Lumpur', 'Buenos Aires', 'Bari', 'Abu Dhabi', 'Calgary',
       'Kos', 'Cephalonia', 'Mahe', 'Johannesburg OR Tambo', 'Grenada',
       'Rotterdam', 'Lima', 'Rome Fiumicino', 'St Lucia',
       'Leeds Bradford', 'Cologne', 'Tampa', 'Tokyo Narita', 'Bermuda',
       'Stuttgart', 'Nassau', 'St Petersburg', 'Bangkok', 'Brindisi',
       'Heraklion', 'Philadelphia', 'HKG', 'Edinburgh-Florence', 'Turin',
       'GIG', 'Florence', 'Naples', 'Fort Lauderdale', 'Beijing',
       'Edimbourgh', 'Rio de Janiero', 'Reykjavik', 'San Jose, CA',
       'Saint Lucia', 'Funchal', 'Berlin Tegel', 'Bologna',
       'Seoul Incheon', 'Oakland', 'Düsseldorf', 'Tokyo Haneda',
       'Shanghai', 'Grand Cayman', 'Port of Spain', 'Kalamata',
       'Zakinthos', 'Salzburg', 'Bergen', 'Krakow', 'Mauritius', 'Corfu',
       'Leeds', 'Valencia', 'Luxembourg', 'Seoul', 'Madeira',
       'Manchester, UK', 'Bahrain', 'London LGW', 'Punta Cana',
       'Stavanger', 'ORY', 'GOT', 'Tehran', 'LBA', 'TPA', 'LAX', 'SOF',
       'IAD', 'YVR', 'LGW', 'MAD', 'MLA', 'SFO', 'CDG', 'BKK', 'GLA',
       'LED', 'PVG', 'JFK', 'ATH', 'FUE', 'IAH', 'KUL', 'MAN', 'MIA',
       'SYD', 'YYZ', 'ARN', 'IKA', 'CUN', 'DXB', 'BUD', 'FRA', 'BWI',
       'KBP', 'UVF', 'SAN', 'DFW', 'CTU', 'NBO', 'SEA', 'SIN', 'MAA',
       'TLV', 'RAK', 'AMS', 'DUS', 'JNB', 'CPT', 'BCN', 'LIS', 'DUB',
       'MRU', 'LCA', 'ICN', 'KWI', 'EDI', 'CNX', 'HND', 'BRI', 'PMI',
       'AGP', 'DBV', 'YYC', 'LCY', 'LAS', 'BOS', 'SJO', 'MEL', 'SJC',
       'BAH', 'ATL', 'AUH', 'NAP', 'OPO', 'MUC', 'VIE', 'PRG', 'PHX',
       'TXL', 'WAW', 'PHL', 'ABV', 'ZRH', 'MEX', 'DOH', 'GRU', 'BLR',
       'ABZ', 'BSL', 'MXP', 'GVA', 'MRS', 'NCL', 'NAS', 'BGI', 'IBZ',
       'LYS', 'PSA', 'ACC', 'OSL', 'ORD', 'FCO', 'GIB', 'PEK', 'RUH',
       'CPH', 'SVQ', 'IST', 'TRN', 'AUS', 'HEL', 'PUJ', 'VCE',
       'LHR - EDI', 'OUL', 'OTP', 'MCO', 'FNC', 'iAH', 'NCE',
       'YVR-LIS via LHR', 'JED', 'YUL', 'Hannover', 'Kiev', 'SSH',
       'Heathrow (London)', 'Fuereventura', 'lgw', 'St Kitts', 'DME',
       'Lebanon', 'MAN-LHR', 'Istambul', 'Verona', 'LHR-BOM',
       'Vancouver Canada', 'CAI', 'Helsinki', 'LHR-DEN', 'ORD-LHR',
       'LHR-GLA', 'GLA-LHR'], dtype=object)

In [489]:
df['From'].replace({
    'UK': 'Unknown',
    'BAH': 'Bahrain',
    'LGW': 'London Gatwick',
    'PUJ': 'Punta Cana',
    'SVG': 'Stavanger',
    'ORY': 'Paris Orly',
    'GOT': 'Gothenburg Landvetter',
    'IKA': 'Tehran',
    'LBA': 'Leeds Bradford',
    'TPA': 'Tampa',
    'LAX': 'Los Angeles',
    'SOF': 'Sofia',
    'IAD': 'Washington Dulles',
    'YVR': 'Vancouver',
    'MAD': 'Madrid',
    'MLA': 'Malta',
    'SFO': 'San Francisco',
    'CDG': 'Paris Charles de Gaulle',
    'BKK': 'Bangkok',
    'GLA': 'Glasgow',
    'LED': 'Saint Petersburg',
    'PVG': 'Shanghai Pudong',
    'JFK': 'New York JFK',
    'ATH': 'Athens',
    'FUE': 'Fuerteventura',
    'IAH': 'Houston',
    'KUL': 'Kuala Lumpur',
    'MAN': 'Manchester',
    'MIA': 'Miami',
    'SYD': 'Sydney',
    'YYZ': 'Toronto Pearson',
    'ARN': 'Stockholm Arlanda',
    'CUN': 'Cancún',
    'DXB': 'Dubai',
    'BUD': 'Budapest',
    'FRA': 'Frankfurt',
    'BWI': 'Baltimore/Washington',
    'KBP': 'Kyiv Boryspil',
    'UVF': 'Saint Lucia',
    'SAN': 'San Diego',
    'DFW': 'Dallas/Fort Worth',
    'CTU': 'Chengdu',
    'NBO': 'Nairobi',
    'SEA': 'Seattle-Tacoma',
    'SIN': 'Singapore Changi',
    'MAA': 'Chennai',
    'TLV': 'Tel Aviv Ben Gurion',
    'RAK': 'Marrakesh Menara',
    'AMS': 'Amsterdam Schiphol',
    'DUS': 'Düsseldorf',
    'JNB': 'Johannesburg',
    'CPT': 'Cape Town',
    'BCN': 'Barcelona El Prat',
    'LIS': 'Lisbon',
    'DUB': 'Dublin',
    'MRU': 'Mauritius',
    'LCA': 'Larnaca',
    'ICN': 'Seoul Incheon',
    'KWI': 'Kuwait',
    'EDI': 'Edinburgh',
    'CNX': 'Chiang Mai',
    'HND': 'Tokyo Haneda',
    'BRI': 'Bari',
    'PMI': 'Palma de Mallorca',
    'AGP': 'Málaga',
    'DBV': 'Dubrovnik',
    'YYC': 'Calgary',
    'LCY': 'London City',
    'LAS': 'Las Vegas McCarran',
    'BOS': 'Boston Logan',
    'SJO': 'San José Juan Santamaría',
    'MEL': 'Melbourne',
    'SJC': 'San Jose Mineta',
    'ATL': 'Atlanta Hartsfield-Jackson',
    'AUH': 'Abu Dhabi',
    'NAP': 'Naples',
    'OPO': 'Porto',
    'MUC': 'Munich',
    'VIE': 'Vienna',
    'PRG': 'Prague Václav Havel',
    'PHX': 'Phoenix Sky Harbor',
    'TXL': 'Berlin Tegel',
    'WAW': 'Warsaw Chopin',
    'PHL': 'Philadelphia',
    'ABV': 'Abuja Nnamdi Azikiwe',
    'ZRH': 'Zurich',
    'MEX': 'Mexico City',
    'DOH': 'Doha Hamad',
    'GRU': 'São Paulo Guarulhos',
    'BLR': 'Bangalore Kempegowda',
    'ABZ': 'Aberdeen',
    'BSL': 'Basel EuroAirport',
    'MXP': 'Milan Malpensa',
    'GVA': 'Geneva',
    'MRS': 'Marseille Provence',
    'NCL': 'Newcastle',
    'NAS': 'Nassau Lynden Pindling',
    'BGI': 'Bridgetown Grantley Adams',
    'IBZ': 'Ibiza',
    'LYS': 'Lyon Saint-Exupéry',
    'PSA': 'Pisa Galileo Galilei',
    'ACC': 'Accra Kotoka',
    'OSL': 'Oslo Gardermoen',
    'ORD': 'Chicago O\'Hare',
    'FCO': 'Rome Fiumicino',
    'GIB': 'Gibraltar',
    'PEK': 'Beijing Capital',
    'RUH': 'Riyadh King Khalid',
    'CPH': 'Copenhagen',
    'SVQ': 'Seville',
    'IST': 'Istanbul',
    'TRN': 'Turin',
    'AUS': 'Austin-Bergstrom',
    'HEL': 'Helsinki-Vantaa',
    'PUJ': 'Punta Cana',
    'VCE': 'Venice Marco Polo',
    'LHR - EDI': 'London Heathrow to Edinburgh',
    'OUL': 'Oulu',
    'OTP': 'Bucharest Henri Coandă',
    'MCO': 'Orlando',
    'FNC': 'Portugal',
    'iAH': 'Houston',  
    'NCE': 'France',  
    'YVR-LIS via LHR': 'Richmond, Canada',  
    'JED': 'Jeddah',  
    'YUL': 'Dorval, Canada',  
    'Hannover': 'Germany',
    'Kiev': 'Ukraine',
    'SSH': 'Sharm el-Sheikh, Egypt',  
    'Heathrow (London)': 'London',
    'Fuereventura': 'Spain',
    'lgw': 'London', 
    'St Kitts': 'Saint Kitts and Nevis',
    'DME': 'Moscow',  
    'Lebanon': 'Lebanon',  
    'MAN-LHR': 'Manchester',
    'Istambul': 'Istambul',  
    'Verona': 'Verona',
    'LHR-BOM': 'London',
    'Vancouver Canada': 'Vancouver',
    'CAI': 'Egypt',
    'Helsinki': 'Helsinki',
    'LHR-DEN': 'London',  
    'ORD-LHR': 'Chicago',  
    'LHR-GLA': 'London',
    'GLA-LHR': 'London'
},inplace=True)

In [490]:
df['To'].unique()

array(['Tokyo', 'London', 'Delhi', 'Milan', 'London Heathrow', 'Toulouse',
       'Venice via London Heathrow', 'Houston', 'Brussels',
       'London heathrow', 'Mumbai via London', 'Port of Spain via London',
       'Sydney', 'Auckland via Sydney', 'Mexico City', 'Oslo',
       'Porto via Singapore / London', 'Lisbon',
       'London via Buenos Aires', 'Lisbon via London', 'Istanbul',
       'Shannon, Ireland via Austin', 'San Francisco', 'Casablanca',
       'Glasgow', 'Berlin', 'Miami', 'Cancun', 'Warsaw',
       'Düsseldorf via London', 'Hong Kong', 'Miami (MIA)', 'Madrid',
       'New York', 'Geneva', 'St Lucia', 'Houston via London Heathrow',
       'Stockholm', 'Mumbai via London Heathrow', 'London Gatwick',
       'Atlanta via London Heathrow', 'Portland', 'Frankfurt',
       'Manchester via Heathrow', 'Singapore', 'Las Palmas',
       'San Francisco via London Heathrow', 'Gatwick', 'Johannesburg',
       'Tokyo Haneda via London', 'Stuttgart', 'Dublin',
       'Manchester via London', 'Cape Town via London', 'Atlanta',
       'Antalya', 'Heathrow via Barcelona', 'Gibraltar', 'Philadelphia',
       'Cairo', 'Porto via Heathrow', 'Amsterdam', 'Austin',
       'Istanbul via London', 'Punta Cana', 'Venice',
       'Glasgow via London', 'New York JFK', 'Marseille', 'Munich',
       'San Jose via London', 'Dubrovnik via Heathrow', 'Seville',
       'Dublin via London Heathrow', 'San Francisco via London',
       'Marseille via London', 'Las Vegas via London', 'Los Angeles',
       'Porto', 'Dalaman', 'Milan via London', 'Vancouver via London',
       'Santiago', 'Faro', 'London City', 'Keflavik', 'Malaga via London',
       'Rome via London', 'Malaga', 'LAX', 'Paris', 'Algiers', 'Vienna',
       'Warsaw via London', 'Lyon', 'Montpelier', 'Mumbai',
       'Los Angeles via London', 'Rhodes', 'Las Vegas via Heathrow',
       'Edinburgh', 'Cape Town', 'Ibiza', 'Naples', 'Keflavik via London',
       'Amman', 'Bodrum', 'Washington', 'Kalamata', 'Funchal',
       'Seattle via London Heathrow', 'Dallas via London',
       'Nice via London', 'Edinburgh via Heathrow',
       'Durban via London Heathrow', 'Barcelona via London',
       'Cairo via London', 'Santorini', 'Larnaca', 'Madrid via London',
       'Valencia', 'Nice', 'Dallas', 'Belfast', 'London via Singapore',
       'Barcelona', 'Zagreb via London', 'Toronto via London,', 'Denver',
       'Los Angeles via London Heathrow', 'Belfast via London',
       'Heathrow', 'Copenhagen', 'Malta', 'Chicago via London',
       'Amsterdam via London', 'Lanzarote', 'Marrakech',
       'Munich via London', 'Nassau via London', 'Belfast City',
       'Dubrovnik', 'Orlando via Heathrow', 'Dubai', 'Arlanda Stockholm',
       'Tel Aviv via Heathrow', 'Milan Malpensa', 'Las Vegas',
       'London Singapore', 'Buenos Aires', 'Vancouver', 'Male',
       'Alicante', 'Tel Aviv', 'Athens Greece', 'Chicago',
       'Vancouver via Heathrow', 'San francisco', 'Barbados',
       'Delhi via London', 'Bangkok via Doha', 'Phoenix', 'Rome',
       'Boston', 'Prague', 'Edinburgh via London Heathrow',
       'Budapest via London', 'London UK (Heathrow)',
       'London via Los Angeles', 'Bologna via London', 'Nairobi',
       'Jersey', 'Jersey via London', 'Tampa', 'Manchester', 'Tenerife',
       'Seattle via London', 'Manila via Singapore',
       'Thessaloniki via London', 'Dublin via London', 'Marrakesh',
       'New York via London', 'Washington via London', 'Reykjavik',
       'Toronto', 'Baltimore via London Heathrow', 'Montreal via London',
       'Santorini via Toronto / London', 'san Francisco',
       'Hamburg via London', 'Toulouse via London', 'Thira',
       'Manchester via Gatwick', 'Toronto via London',
       'Zurich via London', 'Nairobi via Chicago / London', 'Mauritius',
       'Johannesburg via London', 'Milan Malpensa via London', 'Aberdeen',
       'Durban', 'Paris via London', 'Bologna', 'London via Dublin',
       'Dubai via London', 'Sofia', 'Boston via London', 'Athens',
       'Belfast via Heathrow', 'Orlando', 'Newcastle via London',
       'Detroit via London', 'London Heaathrow', 'Moscow via London',
       'Portland via London / Seattle', 'Paris CDG', 'Tenerife South',
       'Mexico', 'Cayman Islands', 'Aberdeen via Heathrow',
       'Tenerife south', 'Sao Paulo via London', 'Tirana London',
       'Catania', 'Moscow Domodedovo', 'Corfu', 'Budapest via Heathrow',
       'Bangalore via London', 'Accra', 'Preveza', 'Ahmedabad',
       'Maldives', 'Lahore', 'Bangalore', 'London-Heathrow',
       'Edinburgh via London', 'Seville via Miami / Madrid', 'Budapest',
       'London via Chicago', 'Buenos Aires via London', 'Beijing',
       'Seattle', 'Melbourne via London / Singapore',
       'Stockholm via London', 'London Heathrow via Copenhagen',
       'Bangkok', 'Accra, Ghana', 'Geneva via London', 'Tirana',
       'Bucharest', 'Rio De Janeiro', 'Billund via London',
       'Brussels via London', 'Toulouse via Singapore / London',
       'Barbados via Gatwick', 'Sydney via Singapore', 'Bridgetown',
       'Bangkok via London', 'Oslo via London', 'Berlin via London',
       'londonDoha to London', 'Salzburg', 'Seychelles',
       'Barcelona via London Heathrow', 'Abu Dhabi', 'Newcastle',
       'Gothenburg via London', 'Kuala Lumpur', 'Berlin Tegel',
       'Tel Aviv via London', 'Kefalonia', 'Abuja Nigeria', 'Gothenburg',
       'Tampa via Gatwick', 'St Petersburgh', 'Kuala Lumpur via London',
       'Mauritius via London', 'Shanghai', 'Copenhagen via London',
       'San Jose Costa Rica', 'Pisa London Heathrow', 'Venice Marco Polo',
       'Inverness', 'Kuwait via London', 'Durban via London',
       'Larnaca via London', 'Olbia', 'Abu Dhabi via London Heathrow',
       'Bermuda', 'Cagliari', 'Dusseldorf', 'Seoul',
       'Delhi via London Heathrow', 'Atlanta via London', 'Nashville',
       'Bengaluru', 'Leeds via Johannesburg / Heathrow',
       'Auckland via Singapore', 'Chennai', 'Zurich', 'Calgary', 'Doha',
       'Pisa', 'Tokyo Narita', 'Abu Dhabi via Heathrow', 'Larnaca Cyprus',
       'Venice via London', 'Florence', 'Tokyo Haneda', 'Billund',
       'Frankfurt via London', 'Philadelphia via London',
       'Bangalore via Heathrow', 'London via Geneva', 'Miami via London',
       'Amsterdam via London Heathrow', 'London Heathrow to Los Angeles',
       'Fort Lauderdale', 'Mexico City via London', 'Accra via London',
       'Hannover via London', 'Nairobi via London',
       'San Fransisco via Heathrow', 'Leeds via London Heathrow',
       'Newark via London', 'Brindisi', 'Düsseldorf', 'Paphos',
       'Santiago de Chile', 'Seattle Tacoma', 'Tirana Rinas', 'Murcia',
       'Abu Dhabi via London', 'Denver via London', 'LHR', 'Hamburg',
       'Edinburgh-Florence', 'Tehran', 'Rome via London Heathrow',
       'Baltimore', 'San Jose', 'Bucharest via London', 'London Cuty',
       'Mahon', 'Newark', 'Prague via London', 'Montreal',
       'Shanghai via London', 'Sao Paulo', 'Moscow',
       'Lagos via London Heathrow', 'Muscat', 'Madeira',
       'Hong Kong via London', 'Helsinki', 'Delhi Airport',
       'Chennai via London', 'Bombay', 'Gothenburg via London Heathrow',
       'Hyderabad via London', 'Hyderabad via London Heathrow',
       'Duesseldorf', 'Lisbon via Heathrow', 'Paris Orly',
       'Madrid via London Heathrow', 'Tobago', 'Turin', 'Rome Fiumicino',
       'Basel', 'Verona', 'Seoul Incheon', 'Bahrain', 'Victoria Falls',
       'Tampa via Heathrow/Gatwick', 'Nassau via Heathrow', 'Bari',
       'Geneva via London Heathrow', 'Doha via London',
       'Gatwick via St. Lucia', 'Bilbao', 'Kraków', 'Abuja, Nigeria',
       'Biarritz', 'Zakinthos', 'Bristol', 'Munich via Heathrow',
       'Tallinn', 'Zagreb', 'Genoa', 'Durban via London / Johannesburg',
       'Luxembourg via London', 'Copenhagen via Heathrow', 'Antigua',
       'Geneva via Heathrow', 'Bordeaux', 'Sofia via London',
       'Rome via Heathrow', 'Tirana via Gatwick', 'Dallas via Heathrow',
       'Bergen', 'Lima', 'Houston via London', 'Tokyo via London', 'TXL',
       'Bergerac', 'Billund, Denmark', 'Chicago via Heathrow',
       'Dublin via london', 'Stockholm Arlanda', 'Mexico via London',
       'IST', 'JFK via LHR', 'New Delhi', 'New Orleans',
       'Gibraltar via Heathrow', 'Grenada', 'Cape Town via Gatwick',
       'Athens via Heathrow', 'Innsbruck', 'GVA', 'SFO/PHX via LHR',
       'St Lucia via Gatwick', 'Luanda via Heathrow', 'YVR',
       "Chicago O'Hare", 'Rio de Janeiro', 'ATH via LGW', 'SFO',
       'Paris via Heathrow', 'IAD', 'HKG', 'NCE via LHR', 'BCN via LHR',
       'MXP', 'BGI', 'PHL', 'LGW', 'Abuja', 'CPT', 'ORD', 'JNB via LHR',
       'PHX', 'DXB', 'CDG via LHR', 'KUL', 'CUN', 'ZRH via LHR', 'DFW',
       'PRG', 'AMM', 'FCO', 'LAX via LHR', 'LAS via LHR', 'BKK via LHR',
       'LIM', 'DEN via LHR', 'YUL via LHR', 'SAN via LHR', 'TPA',
       'CPT via LHR', 'YYZ via LHR', 'CPH', 'ANU', 'BFS via LHR',
       'MAN via LHR', 'EDI', 'EZE', 'BKK', 'DEL via LHR', 'SVQ via LHR',
       'BOM via LHR', 'AUS', 'PVG via LHR', 'MCO', 'SEA', 'MAN', 'UVF',
       'LHR via SIN', 'YYC', 'LIS', 'MAD', 'SYD', 'ARN', 'ZRH', 'MRU',
       'BHD', 'YYZ', 'SIN', 'BOS via LHR', 'DEL', 'KBP', 'LAS',
       'LHR via LAD & ABV', 'IAH', 'DME', 'BWI', 'DUR', 'MIA', 'ALC',
       'LCY', 'CLT via LHR', 'BOS', 'VLC', 'SVQ via MAD', 'JFK', 'OTP',
       'CPT via JNB', 'AGP', 'EDI via LHR', 'BRU', 'LHR via BKK',
       'ATH via LHR', 'MLA', 'NCE', 'ICN', 'PRG via LHR', 'BUD',
       'NBO via LHR', 'FCO via LHR', 'DEN', 'DUB via LHR', 'LIS via LHR',
       'ATL', 'DUS via LHR', 'BGO', 'ZRH via LCY', 'SIN via SYD', 'AMS',
       'OPO', 'KGS', 'JNB', 'GVA via LHR', 'ATH', 'BIO', 'PER via SIN',
       'KRK', 'LCA', 'DUB', 'DBV', 'SVO', 'OPO via LGW', 'MUC', 'PVG',
       'SIN via LHR', 'GLA', 'RAK', 'BOS, SEA to LHR', 'CDG', 'YUL',
       'SXF via LHR', 'SFO via PHL', 'AMS via LHR', 'BWI via LHR', 'NAS',
       'CDG via BAH / LHR', 'KUL via LHR', 'FLR', 'SFO via LHR',
       'MEX via LHR', 'BKK via KUL', 'EBB via LHR', 'SVQ', 'EWR',
       'MCI via ORD', 'FAO', 'SAN', 'PFO', 'STR', 'PHL via LHR',
       'INV via LHR', 'PUJ', 'BDA', 'IOM', 'GRU via LHR', 'BOM', 'WAW',
       'BCN', 'CTA', 'FNC', 'BSL', 'ORD via LHR', 'JTR', 'IBZ',
       'DXB via LHR', 'HKG via LHR', 'GRU', 'NBO', 'LHR via BAH', 'PEK',
       'RTM', 'TXL via LHR', 'PSA', 'SEL via LHR', 'GIG', 'ACC via LHR',
       'HEL', 'MAA', 'LHR via HEL', 'GIG via LHR', 'TLV via LHR', 'NAP',
       'MIa', 'MLE', 'SFO via EDI', 'SZG', 'LHR via MIA', 'JED', 'MEX',
       'YVR-LIS via LHR', 'NCL via LHR', 'NCL', 'MUC via LHR', 'SSH',
       'Sydney via LHR', 'BRU via LHR', 'BNE via SIN', 'Krakow',
       'Hannover', 'Dublin via LHR', 'Luanda', 'PEK via LHR',
       'AUH via LHR', 'Chengdu', 'JFK (New York City)', 'St Kitts',
       'Haneda', 'Cancun via Madrid', 'SYD via SIN', 'SVO via LHR',
       'MIA via London', 'alicante', 'GIB', 'Gatwick via Antigua',
       'JFK via SNN', 'OSL', 'Granada', 'Paris via LHR',
       'Cape Town via LHR', 'IAD via LHR', 'Denver via LHR', 'Rome FCO',
       'Milan via LHR', 'Manchester via LHR', 'New York via LHR',
       'Boston via Heathrow', 'Kuala lumpur', 'Jeddah', 'Phoenix via LHR',
       'Nassau', 'Vancouver via London Heathrow', 'DME via LGW / LHR',
       'GLA via LHR', 'Orlando via Miami', 'Lisbon via LHR',
       'San Fran via London', 'Zurich via LHR', 'Dublin via Heathrow',
       'MAN-LHR', 'Entebbe', 'Tampa International', 'LHR-BOM',
       'Singapire', 'London LHR', 'Orlando MCO', 'JFK via Shannon',
       'TAV via LHR', 'Berlin via London Heathrow', 'Los Angesles',
       'Chicago via LHR', 'Grand Cayman via Nassau', 'LUX',
       'London to Paris to Rome', 'Turkey', 'VCE', 'SOF', 'LHR-DEN',
       'ORD-LHR', 'LHR-GLA', 'GLA-LHR'], dtype=object)

In [491]:
df['To'].replace({
    'BAH': 'Bahrain',
    'LGW': 'London Gatwick',
    'PUJ': 'Punta Cana',
    'SVG': 'Stavanger',
    'ORY': 'Paris Orly',
    'GOT': 'Gothenburg Landvetter',
    'IKA': 'Tehran',
    'LBA': 'Leeds Bradford',
    'TPA': 'Tampa',
    'LAX': 'Los Angeles',
    'SOF': 'Sofia',
    'IAD': 'Washington Dulles',
    'YVR': 'Vancouver',
    'MAD': 'Madrid',
    'MLA': 'Malta',
    'SFO': 'San Francisco',
    'CDG': 'Paris Charles de Gaulle',
    'BKK': 'Bangkok',
    'GLA': 'Glasgow',
    'LED': 'Saint Petersburg',
    'PVG': 'Shanghai Pudong',
    'JFK': 'New York JFK',
    'ATH': 'Athens',
    'FUE': 'Fuerteventura',
    'IAH': 'Houston',
    'KUL': 'Kuala Lumpur',
    'MAN': 'Manchester',
    'MIA': 'Miami',
    'SYD': 'Sydney',
    'YYZ': 'Toronto Pearson',
    'ARN': 'Stockholm Arlanda',
    'CUN': 'Cancún',
    'DXB': 'Dubai',
    'BUD': 'Budapest',
    'FRA': 'Frankfurt',
    'BWI': 'Baltimore/Washington',
    'KBP': 'Kyiv Boryspil',
    'UVF': 'Saint Lucia',
    'SAN': 'San Diego',
    'DFW': 'Dallas/Fort Worth',
    'CTU': 'Chengdu',
    'NBO': 'Nairobi',
    'SEA': 'Seattle-Tacoma',
    'SIN': 'Singapore Changi',
    'MAA': 'Chennai',
    'TLV': 'Tel Aviv Ben Gurion',
    'RAK': 'Marrakesh Menara',
    'AMS': 'Amsterdam Schiphol',
    'DUS': 'Düsseldorf',
    'JNB': 'Johannesburg',
    'CPT': 'Cape Town',
    'BCN': 'Barcelona El Prat',
    'LIS': 'Lisbon',
    'DUB': 'Dublin',
    'MRU': 'Mauritius',
    'LCA': 'Larnaca',
    'ICN': 'Seoul Incheon',
    'KWI': 'Kuwait',
    'EDI': 'Edinburgh',
    'CNX': 'Chiang Mai',
    'HND': 'Tokyo Haneda',
    'BRI': 'Bari',
    'PMI': 'Palma de Mallorca',
    'AGP': 'Málaga',
    'DBV': 'Dubrovnik',
    'YYC': 'Calgary',
    'LCY': 'London City',
    'LAS': 'Las Vegas McCarran',
    'BOS': 'Boston Logan',
    'SJO': 'San José Juan Santamaría',
    'MEL': 'Melbourne',
    'SJC': 'San Jose Mineta',
    'ATL': 'Atlanta Hartsfield-Jackson',
    'AUH': 'Abu Dhabi',
    'NAP': 'Naples',
    'OPO': 'Porto',
    'MUC': 'Munich',
    'VIE': 'Vienna',
    'PRG': 'Prague Václav Havel',
    'PHX': 'Phoenix Sky Harbor',
    'TXL': 'Berlin Tegel',
    'WAW': 'Warsaw Chopin',
    'PHL': 'Philadelphia',
    'ABV': 'Abuja Nnamdi Azikiwe',
    'ZRH': 'Zurich',
    'MEX': 'Mexico City',
    'DOH': 'Doha Hamad',
    'GRU': 'São Paulo Guarulhos',
    'BLR': 'Bangalore Kempegowda',
    'ABZ': 'Aberdeen',
    'BSL': 'Basel EuroAirport',
    'MXP': 'Milan Malpensa',
    'GVA': 'Geneva',
    'MRS': 'Marseille Provence',
    'NCL': 'Newcastle',
    'NAS': 'Nassau Lynden Pindling',
    'BGI': 'Bridgetown Grantley Adams',
    'IBZ': 'Ibiza',
    'LYS': 'Lyon Saint-Exupéry',
    'PSA': 'Pisa Galileo Galilei',
    'ACC': 'Accra Kotoka',
    'OSL': 'Oslo Gardermoen',
    'ORD': 'Chicago O\'Hare',
    'FCO': 'Rome Fiumicino',
    'GIB': 'Gibraltar',
    'PEK': 'Beijing Capital',
    'RUH': 'Riyadh King Khalid',
    'CPH': 'Copenhagen',
    'SVQ': 'Seville',
    'IST': 'Istanbul',
    'TRN': 'Turin',
    'AUS': 'Austin-Bergstrom',
    'HEL': 'Helsinki-Vantaa',
    'PUJ': 'Punta Cana',
    'VCE': 'Venice Marco Polo',
    'LHR - EDI': 'London Heathrow to Edinburgh',
    'OUL': 'Oulu',
    'OTP': 'Bucharest Henri Coandă',
    'MCO': 'Orlando',
    'FNC': 'Portugal',
    'iAH': 'Houston',  
    'NCE': 'France',  
    'YVR-LIS via LHR': 'Richmond, Canada',  
    'JED': 'Jeddah',  
    'YUL': 'Dorval, Canada',  
    'Hannover': 'Germany',
    'Kiev': 'Ukraine',
    'SSH': 'Sharm el-Sheikh, Egypt',  
    'Heathrow (London)': 'London',
    'Fuereventura': 'Spain',
    'lgw': 'London', 
    'St Kitts': 'Saint Kitts and Nevis',
    'DME': 'Moscow',  
    'Lebanon': 'Lebanon',  
    'MAN-LHR': 'Manchester',
    'Istambul': 'Istambul',  
    'Verona': 'Verona',
    'LHR-BOM': 'London',
    'Vancouver Canada': 'Vancouver',
    'CAI': 'Egypt',
    'Helsinki': 'Helsinki',
    'LHR-DEN': 'London',  
    'ORD-LHR': 'Chicago',  
    'LHR-GLA': 'London',
    'GLA-LHR': 'London',
    'SFO/PHX via LHR': 'Phoenix',
    'St Lucia via Gatwick': 'St Lucia',
    'Luanda via Heathrow': 'Luanda',
    "Chicago O'Hare": 'Chicago',
    'Rio de Janeiro': 'Rio de Janeiro',
    'ATH via LGW': 'Athens',
    'Paris via Heathrow': 'Paris',
    'Washington Dulles': 'Washington',
    'HKG': 'Hong Kong',
    'NCE via LHR': 'Nice',
    'BCN via LHR': 'Barcelona',
    'Bridgetown Grantley Adams': 'Bridgetown',
    'Abuja': 'Abuja',
    'JNB via LHR': 'Johannesburg',
    'Phoenix Sky Harbor': 'Phoenix',
    'CDG via LHR': 'Paris',
    'Cancún': 'Cancun',
    'ZRH via LHR': 'Zurich',
    'Dallas/Fort Worth': 'Dallas',
    'Prague Václav Havel': 'Prague',
    'AMM': 'Amman',
    'LAX via LHR': 'Los Angeles',
    'LAS via LHR': 'Las Vegas',
    'BKK via LHR': 'Bangkok',
    'LIM': 'Lima',
    'DEN via LHR': 'Denver',
    'YUL via LHR': 'Montreal',
    'SAN via LHR': 'San Diego',
    'CPT via LHR': 'Cape Town',
    'YYZ via LHR': 'Toronto',
    'ANU': 'Antigua',
    'BFS via LHR': 'Belfast',
    'MAN via LHR': 'Manchester',
    'EZE': 'Buenos Aires',
    'DEL via LHR': 'Delhi',
    'SVQ via LHR': 'Seville',
    'BOM via LHR': 'Mumbai',
    'Austin-Bergstrom': 'Austin',
    'PVG via LHR': 'Shanghai',
    'Seattle-Tacoma': 'Seattle',
    'Saint Lucia': 'St Lucia',
    'LHR via SIN': 'Singapore',
    'BHD': 'Belfast',
    'Toronto Pearson': 'Toronto',
    'Singapore Changi': 'Singapore',
    'BOS via LHR': 'Boston',
    'DEL': 'Delhi',
    'Kyiv Boryspil': 'Kiev',
    'Las Vegas McCarran': 'Las Vegas',
    'LHR via LAD & ABV': 'Unknown',  # It's not clear what this refers to
    'Baltimore/Washington': 'Baltimore',
    'DUR': 'Durban',
    'ALC': 'Alicante',
    'CLT via LHR': 'Charlotte',
    'Boston Logan': 'Boston',
    'VLC': 'Valencia',
    'SVQ via MAD': 'Seville',
    'Bucharest Henri Coandă': 'Bucharest',
    'CPT via JNB': 'Cape Town',
    'Málaga': 'Malaga',
    'EDI via LHR': 'Edinburgh',
    'BRU': 'Brussels',
    'LHR via BKK': 'Bangkok',
    'ATH via LHR': 'Athens',
    'France': 'France',
    'PRG via LHR': 'Prague',
    'NBO via LHR': 'Nairobi',
    'FCO via LHR': 'Rome',
    'DEN': 'Denver',
    'DUB via LHR': 'Dublin',
    'LIS via LHR': 'Lisbon',
    'Atlanta Hartsfield-Jackson': 'Atlanta',
    'DUS via LHR': 'Dusseldorf',
    'BGO': 'Bergen',
    'ZRH via LCY': 'Zurich',
    'SIN via SYD': 'Singapore',
    'Amsterdam Schiphol': 'Amsterdam',
    'KGS': 'Kos',
    'GVA via LHR': 'Geneva',
    'BIO': 'Bilbao',
    'PER via SIN': 'Perth',
    'KRK': 'Krakow',
    'SVO': 'Moscow',
    'OPO via LGW': 'Porto',
    'Shanghai Pudong': 'Shanghai',
    'SIN via LHR': 'Singapore',
    'Marrakesh Menara': 'Marrakesh',
    'BOS, SEA to LHR': 'Boston',
    'Paris Charles de Gaulle': 'Paris',
    'Dorval, Canada': 'Montreal',
    'SXF via LHR': 'Berlin',
    'SFO via PHL': 'San Francisco',
    'AMS via LHR': 'Amsterdam',
    'BWI via LHR': 'Baltimore',
    'Nassau Lynden Pindling': 'Nassau',
    'CDG via BAH / LHR': 'Paris',
    'KUL via LHR': 'Kuala Lumpur',
    'FLR': 'Florence',
    'SFO via LHR': 'San Francisco',
    'MEX via LHR': 'Mexico City',
    'BKK via KUL': 'Bangkok',
    'EBB via LHR': 'Entebbe',
    'EWR': 'Newark',
    'MCI via ORD': 'Kansas City',
    'FAO': 'Faro',
    'San Diego': 'San Diego',
    'PFO': 'Paphos',
    'STR': 'Stuttgart',
    'PHL via LHR': 'Philadelphia',
    'INV via LHR': 'Inverness',
    'BDA': 'Bermuda',
    'IOM': 'Isle of Man',
    'GRU via LHR': 'Sao Paulo',
    'BOM': 'Mumbai',
    'Warsaw Chopin': 'Warsaw',
    'Barcelona El Prat': 'Barcelona',
    'CTA': 'Catania',
    'Portugal': 'Portugal',
    'Basel EuroAirport': 'Basel',
    'ORD via LHR': 'Chicago',
    'JTR': 'Santorini',
    'DXB via LHR': 'Dubai',
    'HKG via LHR': 'Hong Kong',
    'São Paulo Guarulhos': 'Sao Paulo',
    'LHR via BAH': 'London',  # Unclear, assumed London
    'Beijing Capital': 'Beijing',
    'RTM': 'Rotterdam',
    'TXL via LHR': 'Berlin',
    'Pisa Galileo Galilei': 'Pisa',
    'SEL via LHR': 'Seoul',
    'GIG': 'Rio de Janeiro',
    'ACC via LHR': 'Accra',
    'Helsinki-Vantaa': 'Helsinki',
    'LHR via HEL': 'London',  # Unclear, assumed London
    'GIG via LHR': 'Rio de Janeiro',
    'TLV via LHR': 'Tel Aviv',
    'MIa': 'Miami',
    'MLE': 'Male',
    'SFO via EDI': 'San Francisco',
    'SZG': 'Salzburg',
    'LHR via MIA': 'London',  # Unclear, assumed London
    'Jeddah': 'Jeddah',
    'Richmond, Canada': 'Richmond',
    'NCL via LHR': 'Newcastle',
    'MUC via LHR': 'Munich',
    'Sharm el-Sheikh, Egypt': 'Sharm el-Sheikh',
    'Sydney via LHR': 'Sydney',
    'BRU via LHR': 'Brussels',
    'BNE via SIN': 'Brisbane',
    'Krakow': 'Krakow',
    'Germany': 'Germany',
    'Dublin via LHR': 'Dublin',
    'Luanda': 'Luanda',
    'PEK via LHR': 'Beijing',
    'AUH via LHR': 'Abu Dhabi',
    'Chengdu': 'Chengdu',
    'JFK (New York City)': 'New York',
    'Saint Kitts and Nevis': 'Saint Kitts and Nevis',
    'Haneda': 'Tokyo',
    'Cancun via Madrid': 'Cancun',
    'SYD via SIN': 'Sydney',
    'SVO via LHR': 'Moscow',
    'MIA via London': 'Miami',
    'alicante': 'Alicante',
    'Gatwick via Antigua': 'Antigua',
    'JFK via SNN': 'New York',
    'Oslo Gardermoen': 'Oslo',
    'Granada': 'Granada',
    'Paris via LHR': 'Paris',
    'Cape Town via LHR': 'Cape Town',
    'IAD via LHR': 'Washington',
    'Denver via LHR': 'Denver',
    'Rome FCO': 'Rome',
    'Milan via LHR': 'Milan',
    'Manchester via LHR': 'Manchester',
    'New York via LHR': 'New York',
    'Boston via Heathrow': 'Boston',
    'Kuala lumpur': 'Kuala Lumpur',
    'Phoenix via LHR': 'Phoenix',
    'Nassau': 'Nassau',
    'Vancouver via London Heathrow': 'Vancouver',
    'DME via LGW / LHR': 'Moscow',
    'GLA via LHR': 'Glasgow',
    'Orlando via Miami': 'Orlando',
    'Lisbon via LHR': 'Lisbon',
    'San Fran via London': 'San Francisco',
    'Zurich via LHR': 'Zurich',
    'Dublin via Heathrow': 'Dublin',
    'Entebbe': 'Entebbe',
    'Tampa International': 'Tampa',
    'Singapire': 'Singapore',
    'London LHR': 'London',
    'Orlando MCO': 'Orlando',
    'JFK via Shannon': 'New York',
    'Berlin via London Heathrow': 'Berlin',
    'Los Angesles': 'Los Angeles', 
    'Chicago via LHR': 'Chicago',
    'Grand Cayman via Nassau': 'Grand Cayman',
    'LUX': 'Luxembourg',
    'London to Paris to Rome': 'London', 
    'Turkey': 'Turkey'},inplace=True)

In [492]:
df['To'].unique()

array(['Tokyo', 'London', 'Delhi', 'Milan', 'London Heathrow', 'Toulouse',
       'Venice via London Heathrow', 'Houston', 'Brussels',
       'London heathrow', 'Mumbai via London', 'Port of Spain via London',
       'Sydney', 'Auckland via Sydney', 'Mexico City', 'Oslo',
       'Porto via Singapore / London', 'Lisbon',
       'London via Buenos Aires', 'Lisbon via London', 'Istanbul',
       'Shannon, Ireland via Austin', 'San Francisco', 'Casablanca',
       'Glasgow', 'Berlin', 'Miami', 'Cancun', 'Warsaw',
       'Düsseldorf via London', 'Hong Kong', 'Miami (MIA)', 'Madrid',
       'New York', 'Geneva', 'St Lucia', 'Houston via London Heathrow',
       'Stockholm', 'Mumbai via London Heathrow', 'London Gatwick',
       'Atlanta via London Heathrow', 'Portland', 'Frankfurt',
       'Manchester via Heathrow', 'Singapore', 'Las Palmas',
       'San Francisco via London Heathrow', 'Gatwick', 'Johannesburg',
       'Tokyo Haneda via London', 'Stuttgart', 'Dublin',
       'Manchester via London', 'Cape Town via London', 'Atlanta',
       'Antalya', 'Heathrow via Barcelona', 'Gibraltar', 'Philadelphia',
       'Cairo', 'Porto via Heathrow', 'Amsterdam', 'Austin',
       'Istanbul via London', 'Punta Cana', 'Venice',
       'Glasgow via London', 'New York JFK', 'Marseille', 'Munich',
       'San Jose via London', 'Dubrovnik via Heathrow', 'Seville',
       'Dublin via London Heathrow', 'San Francisco via London',
       'Marseille via London', 'Las Vegas via London', 'Los Angeles',
       'Porto', 'Dalaman', 'Milan via London', 'Vancouver via London',
       'Santiago', 'Faro', 'London City', 'Keflavik', 'Malaga via London',
       'Rome via London', 'Malaga', 'Paris', 'Algiers', 'Vienna',
       'Warsaw via London', 'Lyon', 'Montpelier', 'Mumbai',
       'Los Angeles via London', 'Rhodes', 'Las Vegas via Heathrow',
       'Edinburgh', 'Cape Town', 'Ibiza', 'Naples', 'Keflavik via London',
       'Amman', 'Bodrum', 'Washington', 'Kalamata', 'Funchal',
       'Seattle via London Heathrow', 'Dallas via London',
       'Nice via London', 'Edinburgh via Heathrow',
       'Durban via London Heathrow', 'Barcelona via London',
       'Cairo via London', 'Santorini', 'Larnaca', 'Madrid via London',
       'Valencia', 'Nice', 'Dallas', 'Belfast', 'London via Singapore',
       'Barcelona', 'Zagreb via London', 'Toronto via London,', 'Denver',
       'Los Angeles via London Heathrow', 'Belfast via London',
       'Heathrow', 'Copenhagen', 'Malta', 'Chicago via London',
       'Amsterdam via London', 'Lanzarote', 'Marrakech',
       'Munich via London', 'Nassau via London', 'Belfast City',
       'Dubrovnik', 'Orlando via Heathrow', 'Dubai', 'Arlanda Stockholm',
       'Tel Aviv via Heathrow', 'Milan Malpensa', 'Las Vegas',
       'London Singapore', 'Buenos Aires', 'Vancouver', 'Male',
       'Alicante', 'Tel Aviv', 'Athens Greece', 'Chicago',
       'Vancouver via Heathrow', 'San francisco', 'Barbados',
       'Delhi via London', 'Bangkok via Doha', 'Phoenix', 'Rome',
       'Boston', 'Prague', 'Edinburgh via London Heathrow',
       'Budapest via London', 'London UK (Heathrow)',
       'London via Los Angeles', 'Bologna via London', 'Nairobi',
       'Jersey', 'Jersey via London', 'Tampa', 'Manchester', 'Tenerife',
       'Seattle via London', 'Manila via Singapore',
       'Thessaloniki via London', 'Dublin via London', 'Marrakesh',
       'New York via London', 'Washington via London', 'Reykjavik',
       'Toronto', 'Baltimore via London Heathrow', 'Montreal via London',
       'Santorini via Toronto / London', 'san Francisco',
       'Hamburg via London', 'Toulouse via London', 'Thira',
       'Manchester via Gatwick', 'Toronto via London',
       'Zurich via London', 'Nairobi via Chicago / London', 'Mauritius',
       'Johannesburg via London', 'Milan Malpensa via London', 'Aberdeen',
       'Durban', 'Paris via London', 'Bologna', 'London via Dublin',
       'Dubai via London', 'Sofia', 'Boston via London', 'Athens',
       'Belfast via Heathrow', 'Orlando', 'Newcastle via London',
       'Detroit via London', 'London Heaathrow', 'Moscow via London',
       'Portland via London / Seattle', 'Paris CDG', 'Tenerife South',
       'Mexico', 'Cayman Islands', 'Aberdeen via Heathrow',
       'Tenerife south', 'Sao Paulo via London', 'Tirana London',
       'Catania', 'Moscow Domodedovo', 'Corfu', 'Budapest via Heathrow',
       'Bangalore via London', 'Accra', 'Preveza', 'Ahmedabad',
       'Maldives', 'Lahore', 'Bangalore', 'London-Heathrow',
       'Edinburgh via London', 'Seville via Miami / Madrid', 'Budapest',
       'London via Chicago', 'Buenos Aires via London', 'Beijing',
       'Seattle', 'Melbourne via London / Singapore',
       'Stockholm via London', 'London Heathrow via Copenhagen',
       'Bangkok', 'Accra, Ghana', 'Geneva via London', 'Tirana',
       'Bucharest', 'Rio De Janeiro', 'Billund via London',
       'Brussels via London', 'Toulouse via Singapore / London',
       'Barbados via Gatwick', 'Sydney via Singapore', 'Bridgetown',
       'Bangkok via London', 'Oslo via London', 'Berlin via London',
       'londonDoha to London', 'Salzburg', 'Seychelles',
       'Barcelona via London Heathrow', 'Abu Dhabi', 'Newcastle',
       'Gothenburg via London', 'Kuala Lumpur', 'Berlin Tegel',
       'Tel Aviv via London', 'Kefalonia', 'Abuja Nigeria', 'Gothenburg',
       'Tampa via Gatwick', 'St Petersburgh', 'Kuala Lumpur via London',
       'Mauritius via London', 'Shanghai', 'Copenhagen via London',
       'San Jose Costa Rica', 'Pisa London Heathrow', 'Venice Marco Polo',
       'Inverness', 'Kuwait via London', 'Durban via London',
       'Larnaca via London', 'Olbia', 'Abu Dhabi via London Heathrow',
       'Bermuda', 'Cagliari', 'Dusseldorf', 'Seoul',
       'Delhi via London Heathrow', 'Atlanta via London', 'Nashville',
       'Bengaluru', 'Leeds via Johannesburg / Heathrow',
       'Auckland via Singapore', 'Chennai', 'Zurich', 'Calgary', 'Doha',
       'Pisa', 'Tokyo Narita', 'Abu Dhabi via Heathrow', 'Larnaca Cyprus',
       'Venice via London', 'Florence', 'Tokyo Haneda', 'Billund',
       'Frankfurt via London', 'Philadelphia via London',
       'Bangalore via Heathrow', 'London via Geneva', 'Miami via London',
       'Amsterdam via London Heathrow', 'London Heathrow to Los Angeles',
       'Fort Lauderdale', 'Mexico City via London', 'Accra via London',
       'Hannover via London', 'Nairobi via London',
       'San Fransisco via Heathrow', 'Leeds via London Heathrow',
       'Newark via London', 'Brindisi', 'Düsseldorf', 'Paphos',
       'Santiago de Chile', 'Seattle Tacoma', 'Tirana Rinas', 'Murcia',
       'Abu Dhabi via London', 'Denver via London', 'LHR', 'Hamburg',
       'Edinburgh-Florence', 'Tehran', 'Rome via London Heathrow',
       'Baltimore', 'San Jose', 'Bucharest via London', 'London Cuty',
       'Mahon', 'Newark', 'Prague via London', 'Montreal',
       'Shanghai via London', 'Sao Paulo', 'Moscow',
       'Lagos via London Heathrow', 'Muscat', 'Madeira',
       'Hong Kong via London', 'Helsinki', 'Delhi Airport',
       'Chennai via London', 'Bombay', 'Gothenburg via London Heathrow',
       'Hyderabad via London', 'Hyderabad via London Heathrow',
       'Duesseldorf', 'Lisbon via Heathrow', 'Paris Orly',
       'Madrid via London Heathrow', 'Tobago', 'Turin', 'Rome Fiumicino',
       'Basel', 'Verona', 'Seoul Incheon', 'Bahrain', 'Victoria Falls',
       'Tampa via Heathrow/Gatwick', 'Nassau via Heathrow', 'Bari',
       'Geneva via London Heathrow', 'Doha via London',
       'Gatwick via St. Lucia', 'Bilbao', 'Kraków', 'Abuja, Nigeria',
       'Biarritz', 'Zakinthos', 'Bristol', 'Munich via Heathrow',
       'Tallinn', 'Zagreb', 'Genoa', 'Durban via London / Johannesburg',
       'Luxembourg via London', 'Copenhagen via Heathrow', 'Antigua',
       'Geneva via Heathrow', 'Bordeaux', 'Sofia via London',
       'Rome via Heathrow', 'Tirana via Gatwick', 'Dallas via Heathrow',
       'Bergen', 'Lima', 'Houston via London', 'Tokyo via London',
       'Bergerac', 'Billund, Denmark', 'Chicago via Heathrow',
       'Dublin via london', 'Stockholm Arlanda', 'Mexico via London',
       'JFK via LHR', 'New Delhi', 'New Orleans',
       'Gibraltar via Heathrow', 'Grenada', 'Cape Town via Gatwick',
       'Athens via Heathrow', 'Innsbruck', 'Luanda', 'Rio de Janeiro',
       'Washington Dulles', 'Bridgetown Grantley Adams', 'Abuja',
       "Chicago O'Hare", 'Phoenix Sky Harbor', 'Cancún',
       'Dallas/Fort Worth', 'Prague Václav Havel', 'San Diego',
       'Austin-Bergstrom', 'Seattle-Tacoma', 'Saint Lucia',
       'Toronto Pearson', 'Singapore Changi', 'Kyiv Boryspil',
       'Las Vegas McCarran', 'Unknown', 'Baltimore/Washington',
       'Charlotte', 'Boston Logan', 'Bucharest Henri Coandă', 'Málaga',
       'France', 'Atlanta Hartsfield-Jackson', 'Amsterdam Schiphol',
       'Kos', 'Perth', 'Krakow', 'Shanghai Pudong', 'Marrakesh Menara',
       'Paris Charles de Gaulle', 'Dorval, Canada',
       'Nassau Lynden Pindling', 'Entebbe', 'Kansas City', 'Isle of Man',
       'Warsaw Chopin', 'Barcelona El Prat', 'Portugal',
       'Basel EuroAirport', 'São Paulo Guarulhos', 'Beijing Capital',
       'Rotterdam', 'Pisa Galileo Galilei', 'Helsinki-Vantaa', 'Jeddah',
       'Richmond, Canada', 'Sharm el-Sheikh, Egypt', 'Brisbane',
       'Germany', 'Chengdu', 'Saint Kitts and Nevis', 'Oslo Gardermoen',
       'Granada', 'Nassau', 'TAV via LHR', 'Grand Cayman', 'Luxembourg',
       'Turkey'], dtype=object)

In [493]:
unk= df[df['To'] == 'TAV via LHR'].index[0]

In [494]:
df.drop([unk],inplace=True)

In [495]:
df.shape

(2992, 21)

In [496]:
null_travel_type = df[df['Travel_Type'].isnull()]
Travel_Type_temp = []
for index, row in null_travel_type.iterrows():
    matching_row = df[(df['From'] == row['From']) & (df['To'] == row['To']) & (~df['Travel_Type'].isnull())]
    Travel_Type_temp.append(matching_row.iloc[0]['Travel_Type'])
Travel_Type_temp = np.asarray(Travel_Type_temp)
Travel_Type_temp

array(['Solo Leisure', 'Solo Leisure', 'Solo Leisure'], dtype='<U12')

In [497]:
from collections import Counter
counter = Counter(Travel_Type_temp)
Travel_Type_temp_mode = counter.most_common()[0][0]
Travel_Type_temp_mode

'Solo Leisure'

In [498]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                      1031
Travel_Type                      3
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                    117
Cabin_staff_service_Rating     129
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [499]:
df['Travel_Type'].fillna(value=Travel_Type_temp_mode,inplace=True)

In [500]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                      1031
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                    117
Cabin_staff_service_Rating     129
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [501]:
null_Aircraft = df[df['Aircraft'].isnull()]
Aircraft_temp = []
for index, row in null_Aircraft.iterrows():
    matching_row = df[(df['From'] == row['From']) & (df['To'] == row['To']) & (~df['Aircraft'].isnull())]
    Aircraft_temp.extend(matching_row['Aircraft'].values)

In [502]:
counter = Counter(Aircraft_temp)
aircraft_type_mode = counter.most_common()[0][0]
aircraft_type_mode

'A320'

In [503]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                      1031
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                    117
Cabin_staff_service_Rating     129
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [504]:
df['Aircraft'].fillna(value=aircraft_type_mode,inplace=True)

In [505]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                    117
Cabin_staff_service_Rating     129
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [506]:
null_seat_rating = df[df['Seat_Rating'].isnull()]
seat_rating_temp = []
for index, row in null_seat_rating.iterrows():
    matching_row = df[(df['From'] == row['From']) & (df['To'] == row['To']) & (~df['Seat_Rating'].isnull())]
    seat_rating_temp.extend(matching_row['Seat_Rating'].values)
seat_rating_temp[:2]

[1.0, 1.0]

In [507]:
seat_rating_medain = np.median(np.asarray(seat_rating_temp))
seat_rating_medain

3.0

In [508]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                    117
Cabin_staff_service_Rating     129
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [509]:
df['Seat_Rating'].fillna(value=seat_rating_medain,inplace=True)

In [510]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                      0
Cabin_staff_service_Rating     129
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [511]:
null_cabin_rating = df[df['Cabin_staff_service_Rating'].isnull()]
seat_cabin_temp = []
for index, row in null_cabin_rating.iterrows():
    matching_row = df[(df['From'] == row['From']) & (df['To'] == row['To']) & (~df['Cabin_staff_service_Rating'].isnull())]
    seat_cabin_temp.extend(matching_row['Cabin_staff_service_Rating'].values)
seat_cabin_temp[:2]

[1.0, 3.0]

In [512]:
cabin_rating_median = np.median(np.asarray(seat_cabin_temp))
cabin_rating_median

3.0

In [513]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                      0
Cabin_staff_service_Rating     129
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [514]:
df['Cabin_staff_service_Rating'].fillna(value=cabin_rating_median,inplace=True)

In [515]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                      0
Cabin_staff_service_Rating       0
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [516]:
null_bevarage_rating = df[df['Food_Beverages_Rating'].isnull()]
seat_bevarage_temp = []
for index, row in null_bevarage_rating.iterrows():
    matching_row = df[(df['From'] == row['From']) & (df['To'] == row['To']) & (~df['Food_Beverages_Rating'].isnull())]
    seat_bevarage_temp.extend(matching_row['Food_Beverages_Rating'].values)
seat_bevarage_temp[:2]

[1.0, 1.0]

In [517]:
bevarage_median = np.median(np.asarray(seat_bevarage_temp))
bevarage_median

2.0

In [518]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                      0
Cabin_staff_service_Rating       0
Food_Beverages_Rating          399
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [519]:
df['Food_Beverages_Rating'].fillna(value=bevarage_median,inplace=True)

In [520]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                      0
Cabin_staff_service_Rating       0
Food_Beverages_Rating            0
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [521]:
null_inflight_rating = df[df['Inflight_Rating'].isnull()]
seat_inflight_temp = []
for index, row in null_inflight_rating.iterrows():
    matching_row = df[(df['From'] == row['From']) & (df['To'] == row['To']) & (~df['Inflight_Rating'].isnull())]
    seat_inflight_temp.extend(matching_row['Inflight_Rating'].values)
seat_inflight_temp[:2]

[1.0, 1.0]

In [522]:
inflight_median = np.median(np.asarray(seat_inflight_temp))
inflight_median

2.0

In [523]:
df.isnull().sum()

Review_Date                      0
Rating                           0
Comment                          0
Reviewer_Name                    0
Reviewer_Country                 0
Aircraft                         0
Travel_Type                      0
Seat_Type                        1
Route                            0
Date_Flown                       0
Recommended                      0
Verified                         0
Seat_Rating                      0
Cabin_staff_service_Rating       0
Food_Beverages_Rating            0
Inflight_Rating               1171
Ground_service_Rating           69
Value_Rating                     0
Full_review                      0
From                             0
To                               0
dtype: int64

In [524]:
df['Inflight_Rating'].fillna(value=inflight_median,inplace=True)

In [525]:
df.isnull().sum()

Review_Date                    0
Rating                         0
Comment                        0
Reviewer_Name                  0
Reviewer_Country               0
Aircraft                       0
Travel_Type                    0
Seat_Type                      1
Route                          0
Date_Flown                     0
Recommended                    0
Verified                       0
Seat_Rating                    0
Cabin_staff_service_Rating     0
Food_Beverages_Rating          0
Inflight_Rating                0
Ground_service_Rating         69
Value_Rating                   0
Full_review                    0
From                           0
To                             0
dtype: int64

In [526]:
null_ground_rating = df[df['Ground_service_Rating'].isnull()]
seat_ground_temp = []
for index, row in null_ground_rating.iterrows():
    matching_row = df[(df['From'] == row['From']) & (df['To'] == row['To']) & (~df['Ground_service_Rating'].isnull())]
    seat_ground_temp.extend(matching_row['Ground_service_Rating'].values)
seat_ground_temp[:2]

[1.0, 3.0]

In [527]:
ground_median = np.median(np.asarray(seat_ground_temp))
ground_median

3.0

In [528]:
df.isnull().sum()

Review_Date                    0
Rating                         0
Comment                        0
Reviewer_Name                  0
Reviewer_Country               0
Aircraft                       0
Travel_Type                    0
Seat_Type                      1
Route                          0
Date_Flown                     0
Recommended                    0
Verified                       0
Seat_Rating                    0
Cabin_staff_service_Rating     0
Food_Beverages_Rating          0
Inflight_Rating                0
Ground_service_Rating         69
Value_Rating                   0
Full_review                    0
From                           0
To                             0
dtype: int64

In [529]:
df['Ground_service_Rating'].fillna(value=ground_median,inplace=True)

In [530]:
df.isnull().sum()

Review_Date                   0
Rating                        0
Comment                       0
Reviewer_Name                 0
Reviewer_Country              0
Aircraft                      0
Travel_Type                   0
Seat_Type                     1
Route                         0
Date_Flown                    0
Recommended                   0
Verified                      0
Seat_Rating                   0
Cabin_staff_service_Rating    0
Food_Beverages_Rating         0
Inflight_Rating               0
Ground_service_Rating         0
Value_Rating                  0
Full_review                   0
From                          0
To                            0
dtype: int64

In [531]:
temp = df[df['Seat_Type'].isnull()].index[0]
df.drop([temp],inplace=True)

In [532]:
df.isnull().sum()

Review_Date                   0
Rating                        0
Comment                       0
Reviewer_Name                 0
Reviewer_Country              0
Aircraft                      0
Travel_Type                   0
Seat_Type                     0
Route                         0
Date_Flown                    0
Recommended                   0
Verified                      0
Seat_Rating                   0
Cabin_staff_service_Rating    0
Food_Beverages_Rating         0
Inflight_Rating               0
Ground_service_Rating         0
Value_Rating                  0
Full_review                   0
From                          0
To                            0
dtype: int64

In [533]:
df.head()

,Review_Date,Rating,Comment,Reviewer_Name,Reviewer_Country,Aircraft,Travel_Type,Seat_Type,Route,Date_Flown,...,Verified,Seat_Rating,Cabin_staff_service_Rating,Food_Beverages_Rating,Inflight_Rating,Ground_service_Rating,Value_Rating,Full_review,From,To
0,2024-03-26,8.0,“didn't find the crew particularly welcoming”,Troy Robinson,United Kingdom,Boeing 777,Business,Business Class,London to Tokyo,2024-03-01,...,Yes,5.0,2.0,5.0,5.0,3.0,4,"A last minute business trip to HND, a route I ...",London,Tokyo
1,2024-03-26,5.0,"""I would say disappointing""",R Norton,United Kingdom,A320,Business,Economy Class,Lisbon to London,2024-03-01,...,Yes,4.0,3.0,2.0,2.0,1.0,3,Overall I would say disappointing. Due to BA s...,Lisbon,London
2,2024-03-25,10.0,"""Exceptional flight""",Paul Lee,United Kingdom,Boeing 777,Couple Leisure,Business Class,London to Delhi,2024-02-01,...,No,5.0,5.0,5.0,5.0,5.0,5,LHR to Delhi in Business. Exceptional flight. ...,London,Delhi
3,2024-03-25,9.0,"""Cabin crew attentive and bubbly""",Paul Lee,United Kingdom,A320,Couple Leisure,Economy Class,London to Milan,2024-03-01,...,No,5.0,5.0,5.0,2.0,4.0,5,Efficient and Smooth flight from start to fini...,London,Milan
4,2024-03-25,3.0,“a terrible and unnecessary experience”,Peter Buchanan,United Kingdom,A320,Couple Leisure,Economy Class,Madrid to London Heathrow,2024-03-01,...,Yes,3.0,3.0,2.0,2.0,3.0,2,Was told we can not take hand luggage onto the...,Madrid,London Heathrow

In [534]:
# Type Casting to Int16 (Memory Efficient)

In [535]:
df['Rating'] = df['Rating'].astype('int16')
df['Seat_Rating'] = df['Seat_Rating'].astype('int16')
df['Value_Rating'] = df['Value_Rating'].astype('int16')
df['Cabin_staff_service_Rating'] = df['Cabin_staff_service_Rating'].astype('int16')
df['Food_Beverages_Rating'] = df['Food_Beverages_Rating'].astype('int16')
df['Ground_service_Rating'] = df['Ground_service_Rating'].astype('int16')
df['Inflight_Rating'] = df['Inflight_Rating'].astype('int16')

In [536]:
df.dtypes

Review_Date                   datetime64[ns]
Rating                                 int16
Comment                               object
Reviewer_Name                         object
Reviewer_Country                      object
Aircraft                              object
Travel_Type                           object
Seat_Type                             object
Route                                 object
Date_Flown                    datetime64[ns]
Recommended                           object
Verified                              object
Seat_Rating                            int16
Cabin_staff_service_Rating             int16
Food_Beverages_Rating                  int16
Inflight_Rating                        int16
Ground_service_Rating                  int16
Value_Rating                           int16
Full_review                           object
From                                  object
To                                    object
dtype: object

In [537]:
df.head()

,Review_Date,Rating,Comment,Reviewer_Name,Reviewer_Country,Aircraft,Travel_Type,Seat_Type,Route,Date_Flown,...,Verified,Seat_Rating,Cabin_staff_service_Rating,Food_Beverages_Rating,Inflight_Rating,Ground_service_Rating,Value_Rating,Full_review,From,To
0,2024-03-26,8,“didn't find the crew particularly welcoming”,Troy Robinson,United Kingdom,Boeing 777,Business,Business Class,London to Tokyo,2024-03-01,...,Yes,5,2,5,5,3,4,"A last minute business trip to HND, a route I ...",London,Tokyo
1,2024-03-26,5,"""I would say disappointing""",R Norton,United Kingdom,A320,Business,Economy Class,Lisbon to London,2024-03-01,...,Yes,4,3,2,2,1,3,Overall I would say disappointing. Due to BA s...,Lisbon,London
2,2024-03-25,10,"""Exceptional flight""",Paul Lee,United Kingdom,Boeing 777,Couple Leisure,Business Class,London to Delhi,2024-02-01,...,No,5,5,5,5,5,5,LHR to Delhi in Business. Exceptional flight. ...,London,Delhi
3,2024-03-25,9,"""Cabin crew attentive and bubbly""",Paul Lee,United Kingdom,A320,Couple Leisure,Economy Class,London to Milan,2024-03-01,...,No,5,5,5,2,4,5,Efficient and Smooth flight from start to fini...,London,Milan
4,2024-03-25,3,“a terrible and unnecessary experience”,Peter Buchanan,United Kingdom,A320,Couple Leisure,Economy Class,Madrid to London Heathrow,2024-03-01,...,Yes,3,3,2,2,3,2,Was told we can not take hand luggage onto the...,Madrid,London Heathrow

In [538]:
df.drop(df[df['From'] == df['To']][['Route','From','To']].index,inplace=True)

In [539]:
df.drop(columns=['Route'],inplace=True)

In [540]:
df.rename(columns={'From':'Origin','To':'Destination'},inplace=True)

In [541]:
df['Reviewer_Country'].nunique(),df['Reviewer_Country'].unique()

(69,
 array(['United Kingdom', 'Canada', 'Singapore', 'Belgium', 'Denmark',
        'Australia', 'United States', 'Nigeria', 'Japan', 'Ukraine',
        'Germany', 'Ireland', 'Spain', 'China', 'Ecuador', 'Switzerland',
        'Romania', 'Italy', 'Netherlands', 'France', 'South Africa',
        'Kuwait', 'Iceland', 'Poland', 'Hong Kong', 'Qatar', 'Greece',
        'Senegal', 'United Arab Emirates', 'Cyprus', 'Chile', 'Sweden',
        'Austria', 'India', 'New Zealand', 'Czech Republic', 'Malaysia',
        'Ghana', 'Bermuda', 'Botswana', 'Brazil', 'Panama',
        'Russian Federation', 'Philippines', 'Bulgaria', 'Thailand',
        'Argentina', 'Mexico', 'Saint Kitts and Nevis', 'Vietnam',
        'Norway', 'Jordan', 'Taiwan', 'Slovakia', 'Israel', 'South Korea',
        'Saudi Arabia', 'Hungary', 'Portugal', 'Cayman Islands',
        'Costa Rica', 'Egypt', 'Laos', 'Turkey', 'Indonesia', 'Bahrain',
        'Dominican Republic', 'Luxembourg', 'Finland'], dtype=object))

In [542]:
df['Travel_Type'].nunique(),df['Travel_Type'].unique()

(4,
 array(['Business', 'Couple Leisure', 'Solo Leisure', 'Family Leisure'],
       dtype=object))

In [543]:
df['Seat_Type'].nunique(),df['Seat_Type'].unique()

(4,
 array(['Business Class', 'Economy Class', 'First Class',
        'Premium Economy'], dtype=object))

In [544]:
df.columns

Index(['Review_Date', 'Rating', 'Comment', 'Reviewer_Name', 'Reviewer_Country',
       'Aircraft', 'Travel_Type', 'Seat_Type', 'Date_Flown', 'Recommended',
       'Verified', 'Seat_Rating', 'Cabin_staff_service_Rating',
       'Food_Beverages_Rating', 'Inflight_Rating', 'Ground_service_Rating',
       'Value_Rating', 'Full_review', 'Origin', 'Destination'],
      dtype='object')

In [545]:
df['Recommended'].nunique(),df['Recommended'].unique()

(2, array(['YES', 'NO'], dtype=object))

In [546]:
df['Verified'].nunique(),df['Verified'].unique()

(2, array(['Yes', 'No'], dtype=object))

In [547]:
df['Seat_Rating'].nunique(),df['Seat_Rating'].unique()

(5, array([5, 4, 3, 2, 1], dtype=int16))

In [548]:
df['Cabin_staff_service_Rating'].nunique(),df['Cabin_staff_service_Rating'].unique()

(5, array([2, 3, 5, 4, 1], dtype=int16))

In [549]:
df['Food_Beverages_Rating'].nunique(),df['Food_Beverages_Rating'].unique()

(5, array([5, 2, 3, 1, 4], dtype=int16))

In [550]:
df['Inflight_Rating'].nunique(),df['Inflight_Rating'].unique()

(5, array([5, 2, 4, 1, 3], dtype=int16))

In [551]:
df['Ground_service_Rating'].nunique(),df['Ground_service_Rating'].unique()

(5, array([3, 1, 5, 4, 2], dtype=int16))

In [552]:
df['Value_Rating'].nunique(),df['Value_Rating'].unique()

(5, array([4, 3, 5, 2, 1], dtype=int16))

In [553]:
df['Origin'].nunique(),df['Origin'].unique() #Cleaning Still needed

(296,
 array(['London', 'Lisbon', 'Madrid', 'London Heathrow', 'Montreal',
        'Paphos', 'Barbados', 'Toronto', 'Copenhagen', 'Los Angeles',
        'Singapore', 'Cyprus', 'Heathrow', 'Sydney', 'Pisa', 'Malaga',
        'Phoenix', 'Austin, TX', 'Athens', 'London Gatwick', 'Boston',
        'Sao Paulo', 'Dusseldorf (DUS)', 'Cairo', 'Dublin', 'Glasgow',
        'Vancouver', 'Rome', 'Gatwick', 'Istanbul', 'Indianapolis',
        'Gran Canaria', 'Belfast City', 'Cape Town', 'Miami',
        'Johannesburg', 'Palma de Mallorca', 'Zürich', 'Brussels',
        'Bucharest', 'Manchester', 'Seville', 'London Heatrow',
        'Anchorage', 'Seattle', 'Malta', 'San Francisco', 'İstanbul',
        'Geneva', 'Porto', 'Catania', 'Berlin', 'Atlanta', 'Chicago',
        'Milan', 'Dallas', 'Prague', 'San Diego', 'Hamburg', 'Kuwait',
        'Frankfurt', 'Mumbai', 'Houston', 'New York JFK', 'Tenerife',
        'Newark', 'LHR', 'Delhi', 'Larnaca', 'Washington', 'Edinburgh',
        'Keflavik', 'Gibraltar', 'Rhodes', 'Barcelona', 'Inverness',
        'London City Airport', 'Amsterdam', 'Dalaman', 'Newcastle',
        'Amman', 'Chennai', 'Kingston', 'Dubai', 'New Orleans',
        'London City', 'Marseille', 'Tokyo', 'Santiago',
        'Sydney via Singapore', 'Nice', 'Las Vegas', 'New York', 'Sweden',
        'Bangalore', 'Hong Kong', 'Santorini', 'Faro', 'Belfast',
        'Mexico City', 'Marrakech', 'Munich', 'Zagreb', 'Portland', 'Lyon',
        'Oslo', 'Islamabad', 'Palma', 'Vienna', 'Doha', 'Denver',
        'Amman Jordan', 'Dusseldorf', 'Baltimore', 'Orlando', 'Jersey',
        'Gothenburg', 'Tel Aviv', 'Dallas Ft Worth', 'Accra', 'Nairobi',
        'Venice', 'Edmonton', 'Paris CDG', 'Cancun', 'Dallas Fort-Worth',
        'Zurich', 'Bridgetown', 'Dubrovnik', 'Columbus', 'Basel',
        'São Paulo', 'Riyadh', 'Austin', 'Male', 'Montréal', 'Durban',
        'Warsaw', 'Washington DC', 'Stockholm', 'Abuja', 'Mykonos',
        'Washington Dulles', 'Moscow', 'Preveza', 'Aberdeen', 'Ottawa',
        'Antigua', 'Sofia', 'London-Heathrow', 'Nashville', 'Paris',
        'Rio de Janeiro', 'Orlando, Florida', 'San Jose', 'Rio De Janeiro',
        'Budapest', 'Toulouse', 'doha', 'Tirana', 'Bordeaux', 'Seychelles',
        'Jeddah', 'Hyderabad', 'Kuala Lumpur', 'Buenos Aires', 'Bari',
        'Abu Dhabi', 'Calgary', 'Kos', 'Cephalonia', 'Mahe',
        'Johannesburg OR Tambo', 'Grenada', 'Rotterdam', 'Lima',
        'Rome Fiumicino', 'St Lucia', 'Leeds Bradford', 'Cologne', 'Tampa',
        'Tokyo Narita', 'Bermuda', 'Stuttgart', 'Nassau', 'St Petersburg',
        'Bangkok', 'Brindisi', 'Heraklion', 'Philadelphia', 'HKG', 'Turin',
        'GIG', 'Florence', 'Naples', 'Fort Lauderdale', 'Beijing',
        'Edimbourgh', 'Rio de Janiero', 'Reykjavik', 'San Jose, CA',
        'Saint Lucia', 'Funchal', 'Berlin Tegel', 'Bologna',
        'Seoul Incheon', 'Oakland', 'Düsseldorf', 'Tokyo Haneda',
        'Shanghai', 'Grand Cayman', 'Port of Spain', 'Kalamata',
        'Zakinthos', 'Salzburg', 'Bergen', 'Krakow', 'Mauritius', 'Corfu',
        'Leeds', 'Valencia', 'Luxembourg', 'Seoul', 'Madeira',
        'Manchester, UK', 'Bahrain', 'London LGW', 'Punta Cana',
        'Stavanger', 'Paris Orly', 'Gothenburg Landvetter', 'Tehran',
        'Paris Charles de Gaulle', 'Saint Petersburg', 'Shanghai Pudong',
        'Fuerteventura', 'Toronto Pearson', 'Stockholm Arlanda', 'Cancún',
        'Baltimore/Washington', 'Kyiv Boryspil', 'Dallas/Fort Worth',
        'Chengdu', 'Seattle-Tacoma', 'Singapore Changi',
        'Tel Aviv Ben Gurion', 'Marrakesh Menara', 'Amsterdam Schiphol',
        'Barcelona El Prat', 'Chiang Mai', 'Málaga', 'Las Vegas McCarran',
        'Boston Logan', 'San José Juan Santamaría', 'Melbourne',
        'San Jose Mineta', 'Atlanta Hartsfield-Jackson',
        'Prague Václav Havel', 'Phoenix Sky Harbor', 'Warsaw Chopin',
        'Abuja Nnamdi Azikiwe', 'Doha Hamad', 'São Paulo Guarulhos',
        'Bangalore Kempegowda', 'Basel EuroAirport', 'Milan Malpensa',
        'Marseille Provence', 'Nassau Lynden Pindling',
        'Bridgetown Grantley Adams', 'Ibiza', 'Lyon Saint-Exupéry',
        'Pisa Galileo Galilei', 'Accra Kotoka', 'Oslo Gardermoen',
        "Chicago O'Hare", 'Beijing Capital', 'Riyadh King Khalid',
        'Austin-Bergstrom', 'Helsinki-Vantaa', 'Venice Marco Polo',
        'London Heathrow to Edinburgh', 'Oulu', 'Bucharest Henri Coandă',
        'Portugal', 'France', 'Dorval, Canada', 'Germany', 'Ukraine',
        'Sharm el-Sheikh, Egypt', 'Spain', 'Saint Kitts and Nevis',
        'Lebanon', 'Istambul', 'Verona', 'Egypt', 'Helsinki'], dtype=object))

In [554]:
df['Destination'].nunique(),df['Origin'].unique() #Cleaning Still needed

(473,
 array(['London', 'Lisbon', 'Madrid', 'London Heathrow', 'Montreal',
        'Paphos', 'Barbados', 'Toronto', 'Copenhagen', 'Los Angeles',
        'Singapore', 'Cyprus', 'Heathrow', 'Sydney', 'Pisa', 'Malaga',
        'Phoenix', 'Austin, TX', 'Athens', 'London Gatwick', 'Boston',
        'Sao Paulo', 'Dusseldorf (DUS)', 'Cairo', 'Dublin', 'Glasgow',
        'Vancouver', 'Rome', 'Gatwick', 'Istanbul', 'Indianapolis',
        'Gran Canaria', 'Belfast City', 'Cape Town', 'Miami',
        'Johannesburg', 'Palma de Mallorca', 'Zürich', 'Brussels',
        'Bucharest', 'Manchester', 'Seville', 'London Heatrow',
        'Anchorage', 'Seattle', 'Malta', 'San Francisco', 'İstanbul',
        'Geneva', 'Porto', 'Catania', 'Berlin', 'Atlanta', 'Chicago',
        'Milan', 'Dallas', 'Prague', 'San Diego', 'Hamburg', 'Kuwait',
        'Frankfurt', 'Mumbai', 'Houston', 'New York JFK', 'Tenerife',
        'Newark', 'LHR', 'Delhi', 'Larnaca', 'Washington', 'Edinburgh',
        'Keflavik', 'Gibraltar', 'Rhodes', 'Barcelona', 'Inverness',
        'London City Airport', 'Amsterdam', 'Dalaman', 'Newcastle',
        'Amman', 'Chennai', 'Kingston', 'Dubai', 'New Orleans',
        'London City', 'Marseille', 'Tokyo', 'Santiago',
        'Sydney via Singapore', 'Nice', 'Las Vegas', 'New York', 'Sweden',
        'Bangalore', 'Hong Kong', 'Santorini', 'Faro', 'Belfast',
        'Mexico City', 'Marrakech', 'Munich', 'Zagreb', 'Portland', 'Lyon',
        'Oslo', 'Islamabad', 'Palma', 'Vienna', 'Doha', 'Denver',
        'Amman Jordan', 'Dusseldorf', 'Baltimore', 'Orlando', 'Jersey',
        'Gothenburg', 'Tel Aviv', 'Dallas Ft Worth', 'Accra', 'Nairobi',
        'Venice', 'Edmonton', 'Paris CDG', 'Cancun', 'Dallas Fort-Worth',
        'Zurich', 'Bridgetown', 'Dubrovnik', 'Columbus', 'Basel',
        'São Paulo', 'Riyadh', 'Austin', 'Male', 'Montréal', 'Durban',
        'Warsaw', 'Washington DC', 'Stockholm', 'Abuja', 'Mykonos',
        'Washington Dulles', 'Moscow', 'Preveza', 'Aberdeen', 'Ottawa',
        'Antigua', 'Sofia', 'London-Heathrow', 'Nashville', 'Paris',
        'Rio de Janeiro', 'Orlando, Florida', 'San Jose', 'Rio De Janeiro',
        'Budapest', 'Toulouse', 'doha', 'Tirana', 'Bordeaux', 'Seychelles',
        'Jeddah', 'Hyderabad', 'Kuala Lumpur', 'Buenos Aires', 'Bari',
        'Abu Dhabi', 'Calgary', 'Kos', 'Cephalonia', 'Mahe',
        'Johannesburg OR Tambo', 'Grenada', 'Rotterdam', 'Lima',
        'Rome Fiumicino', 'St Lucia', 'Leeds Bradford', 'Cologne', 'Tampa',
        'Tokyo Narita', 'Bermuda', 'Stuttgart', 'Nassau', 'St Petersburg',
        'Bangkok', 'Brindisi', 'Heraklion', 'Philadelphia', 'HKG', 'Turin',
        'GIG', 'Florence', 'Naples', 'Fort Lauderdale', 'Beijing',
        'Edimbourgh', 'Rio de Janiero', 'Reykjavik', 'San Jose, CA',
        'Saint Lucia', 'Funchal', 'Berlin Tegel', 'Bologna',
        'Seoul Incheon', 'Oakland', 'Düsseldorf', 'Tokyo Haneda',
        'Shanghai', 'Grand Cayman', 'Port of Spain', 'Kalamata',
        'Zakinthos', 'Salzburg', 'Bergen', 'Krakow', 'Mauritius', 'Corfu',
        'Leeds', 'Valencia', 'Luxembourg', 'Seoul', 'Madeira',
        'Manchester, UK', 'Bahrain', 'London LGW', 'Punta Cana',
        'Stavanger', 'Paris Orly', 'Gothenburg Landvetter', 'Tehran',
        'Paris Charles de Gaulle', 'Saint Petersburg', 'Shanghai Pudong',
        'Fuerteventura', 'Toronto Pearson', 'Stockholm Arlanda', 'Cancún',
        'Baltimore/Washington', 'Kyiv Boryspil', 'Dallas/Fort Worth',
        'Chengdu', 'Seattle-Tacoma', 'Singapore Changi',
        'Tel Aviv Ben Gurion', 'Marrakesh Menara', 'Amsterdam Schiphol',
        'Barcelona El Prat', 'Chiang Mai', 'Málaga', 'Las Vegas McCarran',
        'Boston Logan', 'San José Juan Santamaría', 'Melbourne',
        'San Jose Mineta', 'Atlanta Hartsfield-Jackson',
        'Prague Václav Havel', 'Phoenix Sky Harbor', 'Warsaw Chopin',
        'Abuja Nnamdi Azikiwe', 'Doha Hamad', 'São Paulo Guarulhos',
        'Bangalore Kempegowda', 'Basel EuroAirport', 'Milan Malpensa',
        'Marseille Provence', 'Nassau Lynden Pindling',
        'Bridgetown Grantley Adams', 'Ibiza', 'Lyon Saint-Exupéry',
        'Pisa Galileo Galilei', 'Accra Kotoka', 'Oslo Gardermoen',
        "Chicago O'Hare", 'Beijing Capital', 'Riyadh King Khalid',
        'Austin-Bergstrom', 'Helsinki-Vantaa', 'Venice Marco Polo',
        'London Heathrow to Edinburgh', 'Oulu', 'Bucharest Henri Coandă',
        'Portugal', 'France', 'Dorval, Canada', 'Germany', 'Ukraine',
        'Sharm el-Sheikh, Egypt', 'Spain', 'Saint Kitts and Nevis',
        'Lebanon', 'Istambul', 'Verona', 'Egypt', 'Helsinki'], dtype=object))

In [555]:
df['Verified'] = df['Verified'].str.upper()

### Observation

- All Columns are looks good except Date,Comment,Full_Review

In [556]:
df.head(2)

,Review_Date,Rating,Comment,Reviewer_Name,Reviewer_Country,Aircraft,Travel_Type,Seat_Type,Date_Flown,Recommended,Verified,Seat_Rating,Cabin_staff_service_Rating,Food_Beverages_Rating,Inflight_Rating,Ground_service_Rating,Value_Rating,Full_review,Origin,Destination
0,2024-03-26,8,“didn't find the crew particularly welcoming”,Troy Robinson,United Kingdom,Boeing 777,Business,Business Class,2024-03-01,YES,YES,5,2,5,5,3,4,"A last minute business trip to HND, a route I ...",London,Tokyo
1,2024-03-26,5,"""I would say disappointing""",R Norton,United Kingdom,A320,Business,Economy Class,2024-03-01,YES,YES,4,3,2,2,1,3,Overall I would say disappointing. Due to BA s...,Lisbon,London

In [557]:
df.columns

Index(['Review_Date', 'Rating', 'Comment', 'Reviewer_Name', 'Reviewer_Country',
       'Aircraft', 'Travel_Type', 'Seat_Type', 'Date_Flown', 'Recommended',
       'Verified', 'Seat_Rating', 'Cabin_staff_service_Rating',
       'Food_Beverages_Rating', 'Inflight_Rating', 'Ground_service_Rating',
       'Value_Rating', 'Full_review', 'Origin', 'Destination'],
      dtype='object')

In [558]:
df['Review_Year'] = df['Review_Date'].dt.year
df['Review_Month'] = df['Review_Date'].dt.month

In [560]:
df.rename(columns={'Date_Flown':'Flown_Date'},inplace=True)

In [561]:
df['Flown_Year'] = df['Flown_Date'].dt.year
df['Flown_Month'] = df['Flown_Date'].dt.month

In [562]:
df.head()

,Review_Date,Rating,Comment,Reviewer_Name,Reviewer_Country,Aircraft,Travel_Type,Seat_Type,Flown_Date,Recommended,...,Inflight_Rating,Ground_service_Rating,Value_Rating,Full_review,Origin,Destination,Review_Year,Review_Month,Flown_Year,Flown_Month
0,2024-03-26,8,“didn't find the crew particularly welcoming”,Troy Robinson,United Kingdom,Boeing 777,Business,Business Class,2024-03-01,YES,...,5,3,4,"A last minute business trip to HND, a route I ...",London,Tokyo,2024,3,2024,3
1,2024-03-26,5,"""I would say disappointing""",R Norton,United Kingdom,A320,Business,Economy Class,2024-03-01,YES,...,2,1,3,Overall I would say disappointing. Due to BA s...,Lisbon,London,2024,3,2024,3
2,2024-03-25,10,"""Exceptional flight""",Paul Lee,United Kingdom,Boeing 777,Couple Leisure,Business Class,2024-02-01,YES,...,5,5,5,LHR to Delhi in Business. Exceptional flight. ...,London,Delhi,2024,3,2024,2
3,2024-03-25,9,"""Cabin crew attentive and bubbly""",Paul Lee,United Kingdom,A320,Couple Leisure,Economy Class,2024-03-01,YES,...,2,4,5,Efficient and Smooth flight from start to fini...,London,Milan,2024,3,2024,3
4,2024-03-25,3,“a terrible and unnecessary experience”,Peter Buchanan,United Kingdom,A320,Couple Leisure,Economy Class,2024-03-01,NO,...,2,3,2,Was told we can not take hand luggage onto the...,Madrid,London Heathrow,2024,3,2024,3

In [564]:
df = df[['Review_Date','Review_Year','Review_Month','Flown_Date','Flown_Year','Flown_Month','Comment',
    'Full_review',
    'Reviewer_Name',
    'Reviewer_Country',
    'Origin',
    'Destination',
    'Aircraft',
    'Travel_Type',
    'Seat_Type',
    'Seat_Rating','Cabin_staff_service_Rating','Food_Beverages_Rating','Inflight_Rating','Ground_service_Rating','Value_Rating','Rating','Recommended','Verified']]

In [565]:
df.head()

,Review_Date,Review_Year,Review_Month,Flown_Date,Flown_Year,Flown_Month,Comment,Full_review,Reviewer_Name,Reviewer_Country,...,Seat_Type,Seat_Rating,Cabin_staff_service_Rating,Food_Beverages_Rating,Inflight_Rating,Ground_service_Rating,Value_Rating,Rating,Recommended,Verified
0,2024-03-26,2024,3,2024-03-01,2024,3,“didn't find the crew particularly welcoming”,"A last minute business trip to HND, a route I ...",Troy Robinson,United Kingdom,...,Business Class,5,2,5,5,3,4,8,YES,YES
1,2024-03-26,2024,3,2024-03-01,2024,3,"""I would say disappointing""",Overall I would say disappointing. Due to BA s...,R Norton,United Kingdom,...,Economy Class,4,3,2,2,1,3,5,YES,YES
2,2024-03-25,2024,3,2024-02-01,2024,2,"""Exceptional flight""",LHR to Delhi in Business. Exceptional flight. ...,Paul Lee,United Kingdom,...,Business Class,5,5,5,5,5,5,10,YES,NO
3,2024-03-25,2024,3,2024-03-01,2024,3,"""Cabin crew attentive and bubbly""",Efficient and Smooth flight from start to fini...,Paul Lee,United Kingdom,...,Economy Class,5,5,5,2,4,5,9,YES,NO
4,2024-03-25,2024,3,2024-03-01,2024,3,“a terrible and unnecessary experience”,Was told we can not take hand luggage onto the...,Peter Buchanan,United Kingdom,...,Economy Class,3,3,2,2,3,2,3,NO,YES

In [566]:
df.to_csv('Data/british_airways_cleaned.csv',index=False)